.carousel .carousel-item {
	height: 700px;
}


.carousel-content {
  text-align: center;
}

.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 500px;
}

body {
	background-color: #26282b;
	color: #fff;
}

root { --bs-blue: #0d6efd; 
	--bs-indigo: #6610f2; 
	--bs-purple: #6f42c1; 
	--bs-pink: #d63384; 
	--bs-red: #dc3545; 
	--bs-orange: #fd7e14; 
	--bs-yellow: #ffc107; 
	--bs-green: #198754; 
	--bs-teal: #20c997; 
	--bs-cyan: #0dcaf0; 
	--bs-white: #fff; 
	--bs-gray: #6c757d; 
	--bs-gray-dark: #343a40; 
	--bs-primary: #3CB815; 
	--bs-secondary: #F65005; 
	--bs-success: #198754; 
	--bs-info: #0dcaf0; 
	--bs-warning: #ffc107; 
	--bs-danger: #dc3545; 
	--bs-light: #F7F8FC; 
	--bs-dark: #111;
	}
